* {
  box-sizing: border-box;
}

:root {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

.logoContainer {
  margin-left: auto;
}

.logo {
  font-size: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: end;
  flex-wrap: wrap;
  padding: 10px 0 10px 10px;
  background-color: black;
}

header > * {
  flex-grow: 1;
}

.navMenu {
  text-align: center;
  margin-right: auto;
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.menuItems {
  text-transform: uppercase;
  padding: 20px 20px;
}

.contact {
  border: 2px solid white;
  border-radius: 5px;
  max-width: 140px;
  margin-right: auto;
}

.background {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  min-width: 300px;
  background: url(../imgs/background.png);
  background-color: darkgrey;
  background-size: cover;
  background-repeat: no-repeat;
}
